@import "./global";

.events {
  margin: 50px 0 !important;
  width: 100% !important;
  max-width: 1090px !important;

  .title-block {
    margin-left: 10px !important;
  }

  .row {
    margin-top: 20px !important;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .col {
      width: calc(100% / 3) !important;
      padding: 10px !important;
      flex-direction: 1;
      & > a {
        border: 1px solid white;
        overflow: hidden;
        display: block;
        width: 100%;
        height: 100%;
        box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding-bottom: 5px !important;
        padding-right: 10px !important;
        padding-top: 10px !important;

        .text-content {
          margin: 15px !important;
          width: 95%;
          height: fit-content;
          margin-top: 18px !important;
          // border: 1px solid;

          .date-content {
            @include flex(space-between, center);
            @include font(14px, 500);
            width: fit-content;
            margin-bottom: 15px !important;

            .date {
              font-weight: 600;
              color: $colorDanger;
            }
          }

          .title {
            @include font(18px, 700);
            color: $colorBlue;
            max-height: 50px !important;
            line-height: 25px;
            overflow: hidden;
          }

          .description {
            margin: 8px 8px 8px 0 !important;
            color: $colorDark;
            @include font(16px, 400);
            line-height: 24px !important;
            overflow: hidden;
            line-height: 22px !important;
            max-height: 45px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 820px) {
  .events {
    padding: auto 10px !important;
    .row .col {
      width: 50% !important;
    }
  }
}

@media (max-width: 576px) {
  .events .row .col .text-content {
    .date-content {
      margin-top: -10px !important;
      font-size: 12px !important;
      margin-bottom: 15px !important;

      .type {
        margin-right: 0px !important;
      }
    }

    .title {
      @include font(15px, 600);
      margin-top: -5px !important;
    }

    .description {
      font-size: 11px !important;
      line-height: 0px !important;
    }
  }
}

@media (max-width: 480px) {
  .events .row .col {
    width: 100% !important;

    & > div {
      padding-top: 10px !important;
    }
  }
}
