.swiper {
  margin-top: 70px !important;
  .swiper-wrapper {
    height: 450px !important;
    overflow: hidden;

    .swiper-slide {
      height: 100%;
      margin: 0 !important;
      @include flex(center, flex-end);
      position: relative;

      img {
        width: 100%;
        height: 100%;
      }

      .text-block {
        position: absolute;
        top: auto;
        left: 0;
        bottom: 0;
        width: 60%;
        height: 120px;
        opacity: 0.6000000238418579;
        background: $colorBlue;
      }

      .block {
        max-width: 1080px;
        width: 100%;
        height: 120px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 2 !important;
        margin: 0 10px !important;

        .text-content {
          height: 100%;
          max-width: 650px;
          width: 100%;
          display: flex;
          justify-content: flex-start;
          align-content: space-around;
          flex-wrap: wrap;

          .title {
            margin: 0 !important;
            padding: 0 !important;
            color: #fff;
            @include font(25px, 500);
            line-height: 30px;
            max-height: 70px;
            width: 90%;
            overflow: hidden;
          }

          .description {
            margin-top: -25px !important;
            width: 100%;
            height: 17px !important;
            overflow: hidden;
            color: #fff;
            @include font(18px, 400);
          }
        }
      }
    }
  }

  .sw-btn {
    width: 43px;
    border-radius: 50%;
    background-color: #c0c0c06a;
    margin: 0 15px !important;
    margin-top: -20px !important;

    &::after {
      color: white !important;
      @include font(18px, 600);
    }
  }
}

@media (max-width: 900px) {
  .swiper .swiper-wrapper {
    height: 350px !important;

    .text-block {
      width: 40%;
      height: 100px !important;
    }

    .block {
      height: 100px !important;

      .text-content {
        width: 65% !important;
        .title {
          font-size: 18px !important;
          line-height: 20px !important;
          height: 40px !important;
        }

        .description {
          font-size: 13px !important;
          width: 90% !important;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .swiper {
    .sw-btn {
      width: 35px;
      height: 35px;

      &::after {
        font-size: 15px !important;
        font-weight: 500 !important;
      }
    }

    .swiper-wrapper {
      height: 350px !important;

      .text-block {
        width: 60%;
      }

      .block {
        .text-content {
          width: 60% !important;
          padding: 0 !important;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .swiper {
    .swiper-wrapper {
      height: 200px !important;

      .text-block {
        width: 70% !important;
        height: 70px !important;
      }

      .block {
        height: 70px !important;

        .text-content {
          .title {
            @include font(14px !important, 500);
            margin: 20px 0 !important;
          }

          .description {
            font-size: 10px !important ;
            padding-top: 5px !important;
            transform: translateY(10px) !important;
            height: fit-content !important;
          }
        }
      }
    }

    .sw-btn {
      width: 30px;
      height: 30px;

      &::after {
        @include font(13px, 500);
      }
    }
  }
}
