.mySwiper {
  margin-top: 70px !important;
  .swiper-wrapper {
    height: 450px !important;
    overflow: hidden;

    .swiper-slide {
      height: 100%;
      margin: 0 !important;
      @include flex(center, flex-end);
      position: relative;

      img {
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
      }

      .blue-block {
        position: absolute;
        top: auto;
        left: 0;
        bottom: 0;
        width: 60%;
        height: 120px;
        opacity: 0.6000000238418579;
        background: $colorBlue;
      }

      .block {
        max-width: 1115px;
        width: 100%;
        height: 120px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 2 !important;
        padding: 10px 0 !important;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .text-content {
          width: 60%;
          padding: 0 20px !important;
          min-height: 90%;
          max-height: 100%;
          display: flex;
          justify-content: flex-start;
          align-items: center !important;
          flex-wrap: wrap;

          .title {
            color: #fff;
            @include font(24px, 600);
            line-height: 30px;
            overflow: hidden;
            min-height: fit-content;
            max-height: 60px;
            overflow: hidden;
            margin-bottom: 5px !important;
            width: 100%;
          }

          .description {
            width: 100%;
            height: 30px;
            overflow: hidden;
            color: #fff;
            line-height: 30px; /* 150% */
            @include font(16px, 300 !important);
          }
        }
      }
    }
  }

  .sw-btn {
    width: 43px;
    border-radius: 50%;
    background-color: #c0c0c06a;
    margin: 0 15px !important;
    margin-top: -20px !important;

    &::after {
      color: white !important;
      @include font(18px, 600);
    }
  }
}

@media (max-width: 900px) {
  .swiper {
    .swiper-wrapper {
      height: 400px !important;

      .blue-block,
      .block {
        height: 100px !important;

        .title {
          font-size: 21px !important;
          line-height: 27px !important;
          max-height: 50px !important;
          font-weight: 500 !important;
          margin-bottom: 0 !important;
        }

        .description {
          font-size: 14px !important;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .swiper {
    .sw-btn {
      width: 35px;
      height: 35px;

      &::after {
        font-size: 15px !important;
        font-weight: 500 !important;
      }
    }

    .swiper-wrapper {
      height: 300px !important;

      .blue-block,
      .block {
        height: 80px !important;

        .title {
          font-size: 16px !important;
          line-height: 20px !important;
          max-height: 40px !important;
        }

        .description {
          font-size: 13px !important;
          height: 18px !important;
          line-height: 15px !important;
        }
      }
    }
  }
}

@media (max-width: 576px) {
  .swiper {
    margin-top: 60px !important;
    .swiper-wrapper {
      height: 250px !important;

      .blue-block,
      .block {
        width: 100% !important;
      }
    }

    .sw-btn {
      width: 30px;
      height: 30px;

      &::after {
        @include font(13px, 500);
      }
    }
  }
}

.swiper-container {
  width: 100%;
  display: none;
  margin: 20px auto 40px auto !important;

  .swiper-wrapper {
    height: auto !important;

    .swiper-slide {
      padding: 0px !important;
      height: auto;
      padding-bottom: 30px !important;

      .col {
        width: 100%;
        margin: 0px !important;
        padding: 10px !important;
        a {
          display: block;
          width: 100%;
          height: 100%;
          position: relative;
          overflow: hidden;

          hr {
            position: absolute;
            top: 275px;
            left: 0;
            height: 10px;
            width: 100px;
            background-color: $colorDanger;
            border: $colorDanger;
          }

          img {
            height: 230px;
            width: 100%;
            object-fit: cover;
          }

          .text-content {
            width: 100%;
            height: fit-content;
            margin-top: 18px !important;

            .title {
              color: $colorBlue;
              @include font(18px, 700);
            }

            .description {
              margin: 10px 0 !important;
              color: $colorDark;
              @include font(16px, 400);
              line-height: 24px !important;
              max-height: 40px !important;
            }
          }
        }
      }
    }
  }

  .swiper-pagination {
    bottom: 0;

    span {
      margin: 0 5px !important;

      &.swiper-pagination-bullet-active {
        background-color: $colorDanger;
      }
    }
  }
}
